@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply bg-zinc-900 text-white min-h-screen;
  }
}


:root { color-scheme: dark; }

* { -webkit-tap-highlight-color: transparent; }

